/*----------------------------------
Variables Style
----------------------------------*/
$c_base: #363636;
$c_base_gray: #555;
$c_theme_gray: #878787;

$light_blue: #77b2bf;
$light_green: #87c7b2;
$yellow: #ddbc7a;
$dark_yellow: #c1c782;
$camel: #cead63;
$brown: #ae8258;
$light_brown: #c1b47c;
$light_red: #dbb295;
$beige: #f7f2f2;
$gray: #f7f7f7;
$gray02: #f4f4f4;
$purple: #6173b4;
$dark_purple: #4d5a9d;